<section id="characterSheet">

	<button ng-click="log()">Log</button>

	<button ng-click="saveCharacter()">Save</button>
   
	<div style="margin: 10px" id="master-row" class="row">

		<div id="left-side" class="col-lg-8 col-md-8 col-sm-8">

		    <div class="row">
			    <abilityscores abilityscores="abilityscores" abilitymodifiers="abilitymodifiers"></abilityscores>		    
			    <combatstats combatstats="combatstats"></combatstats>		    
			    <characterstats characterstats="characterstats"></characterstats>	
			</div>

			<div class="row">
				<attacks attacks="attacks"></attacks>
				<protectiveitems protectiveitems="protectiveitems"></protectiveitems>
			</div>

			<div class="row">
				<classfeatures classfeatures="classfeatures"></classfeatures>
				<feats feats="feats"></feats>
				<specialabilities specialabilities="specialabilities"></specialabilities>	
			</div>

			<div class="row">
				<inventory inventory="inventory"></inventory>
			    <miscstats miscstats="miscstats"></miscstats>
			    <spells spells="spells"></spells>
			</div>

		</div>

		<div id="right-side" class="col-lg-4 col-md-4 col-sm-4">

			<skills skills="skills"></skills>

		</div>

	</div>
</div>
</section>