#characterSheet {

	h1 {
    padding-left: 100px;
    padding-right: 100px;
	}

  h2 {
    padding-left: 10%;
  }

  #master-row {
    margin: 1%;
  }

	div {  

    input {
      color: #00b0ff;
    }

    hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.10));
    }  

		.section {
      background-color: #37474F;
      border-radius: 5px;
      padding: 3%;
		}

    .header {
    }

    #skills {
      height: 1400px;
      overflow-y: auto;
      @media (max-width: 500px) {
        height: 300px;
        overflow-y: auto;
      }

    }

    .character-input {
        padding-left: 10px;
        padding-top: 10px;

        label {
          font-size: 12px;
        }

        .calculated-value {
            font-size: 16px;
            color: #FFFF00;
          }
        
        input {
          font-size: 20px;
        }

        h3 {
          color: #FFFF00;
        }

        @media (max-width: 500px) {
          padding-left: 15px;
          padding-right: 15px;
        }

      }
	}

	ul {
		list-style-type: none;
	}
}