#characterSheet {

	h1 {
    padding-left: 100px;
    padding-right: 100px;
	}

  h2 {
    padding-left: 10%;
  }

	div {  

    hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.10));
    }  

    #master-row {
      margin: 10px;
    }

		.section {
			border: 5px solid;
      border-radius: 25px;
		}

    .header {
    }

    #skills {
      margin-top: 15px;
    }
	}

	ul {
		list-style-type: none;
	}
}

@media (min-width: 0px) {
  @for $i from 1 through 12 {
  	.col-sm-#{$i} {
  		float: left;
  		width: percentage($i/12);
  		padding: 15px;
  	}
  }
}
  
@media (min-width: 480px) {  
  @for $i from 1 through 12 {
  	.col-md-#{$i} {
  		float: left;
  		width: percentage($i/12);
  		padding: 15px;
  	}
  }
}

@media (min-width: 960px) {
    @for $i from 1 through 12 {
  	.col-lg-#{$i} {
  		float: left;
  		width: percentage($i/12);
  		padding: 15px;
  	}
  }
}