#characterSheet {

	h1 {
    padding-left: 100px;
    padding-right: 100px;
	}

  h2 {
    padding-left: 10%;
  }

	div {  

    hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.10));
    }  

    #master-row {
      margin: 10px;
    }

		.section {
			border: 5px solid;
      border-radius: 25px;
      padding: 10px;
		}

    .header {
    }

    #skills {
      margin-top: 15px;
    }

    .character-input {
        margin-left: 5%;
        margin-top: 10px;
      }
	}

	ul {
		list-style-type: none;
	}
}