#characters {

	/* label color */
   .input-field label {
     color: #FFFF00;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #00b0ff;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #FFFF00;
     box-shadow: 0 1px 0 0 #fff176;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }

    label {
        font-size: 12px;
    }

    input {
        font-size: 20px;
    }

	h1 {
		background-color: #37474F;
		color: #FFFF00;
	}

	.section {
      background-color: #37474F;
      border-radius: 25px;
      padding: 3%;
	}

	ul {
		background-color: #37474F;
	}
}
