<div id="abilityscores" class="bg-primary section">
	<h4>Ability Scores</h4>
	<hr>

	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="strength">Strength</span>
 	 <input type="number" class="form-control" placeholder="strength" aria-describedby="character-strength" ng-model="abilityscores.strength">
 	</div>

	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="dexterity">Dexterity</span>
 	 <input type="number" class="form-control" placeholder="dexterity" aria-describedby="character-dexterity" ng-model="abilityscores.dexterity">
 	</div>

	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="constitution">Constitution</span>
 	 <input type="number" class="form-control" placeholder="constitution" aria-describedby="character-constitution" ng-model="abilityscores.constitution">
 	</div>

	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="intelligence">Intelligence</span>
 	 <input type="number" class="form-control" placeholder="intelligence" aria-describedby="character-intelligence" ng-model="abilityscores.intelligence">
 	</div>

	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="wisdom">Wisdom</span>
 	 <input type="number" class="form-control" placeholder="wisdom" aria-describedby="character-wisdom" ng-model="abilityscores.wisdom">
 	</div>

	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="charisma">Charisma</span>
 	 <input type="number" class="form-control" placeholder="charisma" aria-describedby="character-charisma" ng-model="abilityscores.charisma">
 	</div>

</div>
