<div id="abilityscores" class="bg-primary section">
	<h4>Ability Scores</h4>
	<hr>

	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="strength">Strength</span>
	 <div class="character-input input-group input-group-sm">
	  <span class="input-group-addon" id="strength">Ability Score</span>
 	  <input type="number" class="form-control" placeholder="strength" aria-describedby="character-strength" ng-model="abilityscores.strength" ng-change="recalculate()">
 	 </div>
 	 <div class="character-input input-group input-group-sm">
	  <span class="input-group-addon" id="strength">Ability Modifier</span>
	  <div class="input-group-addon">{{abilitymodifiers.strength}}</div>
	 </div>
 	</div>

	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="dexterity">Dexterity</span>
 	 <div class="character-input input-group input-group-sm">
	  <span class="input-group-addon" id="dexterity">Ability Score</span>
 	  <input type="number" class="form-control" placeholder="dexterity" aria-describedby="character-dexterity" ng-model="abilityscores.dexterity" ng-change="recalculate()">
 	 </div>
 	 <div class="character-input input-group input-group-sm">
	  <span class="input-group-addon" id="dexterity">Ability Modifier</span>
	  <div class="input-group-addon">{{abilitymodifiers.dexterity}}</div>
	 </div>
 	</div>

	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="constitution">Constitution</span>
 	 <div class="character-input input-group input-group-sm">
	  <span class="input-group-addon" id="constitution">Ability Score</span>
 	  <input type="number" class="form-control" placeholder="constitution" aria-describedby="character-constitution" ng-model="abilityscores.constitution" ng-change="recalculate()">
 	 </div>
 	 <div class="character-input input-group input-group-sm">
	  <span class="input-group-addon" id="constitution">Ability Modifier</span>
	  <div class="input-group-addon">{{abilitymodifiers.constitution}}</div>
	 </div>
 	</div>

	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="intelligence">Intelligence</span>
 	 <div class="character-input input-group input-group-sm">
	  <span class="input-group-addon" id="intelligence">Ability Score</span>
 	  <input type="number" class="form-control" placeholder="intelligence" aria-describedby="character-intelligence" ng-model="abilityscores.intelligence" ng-change="recalculate()">
 	 </div>
 	 <div class="character-input input-group input-group-sm">
	  <span class="input-group-addon" id="intelligence">Ability Modifier</span>
	  <div class="input-group-addon">{{abilitymodifiers.intelligence}}</div>
	 </div>
 	</div>

	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="wisdom">Wisdom</span>
 	 <div class="character-input input-group input-group-sm">
	  <span class="input-group-addon" id="wisdom">Ability Score</span>
 	  <input type="number" class="form-control" placeholder="wisdom" aria-describedby="character-wisdom" ng-model="abilityscores.wisdom" ng-change="recalculate()">
 	 </div>
 	 <div class="character-input input-group input-group-sm">
	  <span class="input-group-addon" id="wisdom">Ability Modifier</span>
	  <div class="input-group-addon">{{abilitymodifiers.wisdom}}</div>
	 </div>
 	</div>

	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="charisma">Charisma</span>
 	 <div class="character-input input-group input-group-sm">
	  <span class="input-group-addon" id="charisma">Ability Score</span>
 	  <input type="number" class="form-control" placeholder="charisma" aria-describedby="character-charisma" ng-model="abilityscores.charisma" ng-change="recalculate()">
 	 </div>
 	 <div class="character-input input-group input-group-sm">
	  <span class="input-group-addon" id="charisma">Ability Modifier</span>
	  <div class="input-group-addon">{{abilitymodifiers.charisma}}</div>
	 </div>
 	</div>

</div>
