<div id="attacks" class="bg-primary section">
	<h2>Attacks</h2>
	<hr>

	<button type="button" class="btn btn-default" ng-click="addattack()">Add Attack</button>

	<div class="character-input input-group input-group-sm col-lg-10 col-md-10 col-sm-10" ng-repeat="attack in attacks">
	<span class="input-group-addon" id="attack-{{attack.name}}">Attack</span>

	<div class="character-input input-group input-group-sm">
	 <span class="input-group-addon">Name</span>
 	 <input type="text" class="form-control" placeholder="attack-name" aria-describedby="character-{{attack.name}}" ng-model="attack.name">
	</div>

	<div class="character-input input-group input-group-sm">
	 <span class="input-group-addon">Damage</span>
 	 <input type="text" class="form-control" placeholder="attack-damage" aria-describedby="character-{{attack.name}}-{{attack.damage}}" ng-model="attack.damage">
 	</div>

 	<div class="character-input input-group input-group-sm">
	 <span class="input-group-addon">Critical</span>
 	 <input type="text" class="form-control" placeholder="attack-critical" aria-describedby="character-{{attack.name}}-{{attack.critical}}" ng-model="attack.critical">
 	</div>

 	 <div class="character-input input-group input-group-sm col-lg-10 col-md-10 col-sm-10" ng-repeat="quality in attack.specialqualities">
	 <span class="input-group-addon" id="attack-quality-{{quality.name}}">Special Quality</span>

	 <div class="character-input input-group input-group-sm">
	 <span class="input-group-addon">Name</span>
 	  <input type="text" class="form-control" placeholder="attack-quality-name" aria-describedby="attack-quality-{{quality.name}}" ng-model="quality.name">
 	 </div>

 	 <div class="character-input input-group input-group-sm">
	 <span class="input-group-addon">Modifier</span>
 	  <input type="number" class="form-control" placeholder="attack-quality-modifier" aria-describedby="attack-quality-{{quality.name}}-{{quality.modifier}}" ng-model="quality.modifier">
 	 </div>

 	 <div class="character-input input-group input-group-sm">
	 <span class="input-group-addon">Description</span>
 	  <input type="text" class="form-control" placeholder="attack-quality-description" aria-describedby="attack-quality-{{quality.name}}-description" ng-model="quality.description">
 	 </div>

 	 </div>

 	</div>

</div>