<div id="combatstats" class="bg-primary section">
	<h4>Combat Stats</h4>
	<hr>
	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="hitpoints">Hit Points</span>
 	 <input type="number" class="form-control" placeholder="hitpoints" aria-describedby="character-hitpoints" ng-model="combatstats.maxhitpoints">
 	</div>

 	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="experience">Experience</span>
 	 <input type="number" class="form-control" placeholder="experience" aria-describedby="character-experience" ng-model="combatstats.experience">
 	</div>

 	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="baseattackbonus">Base Attack Bonus</span>
 	 <input type="number" class="form-control" placeholder="baseattackbonus" aria-describedby="character-baseattackbonus" ng-model="combatstats.baseattackbonus">
 	</div>

 	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="fortitude">Fortitude</span>
 	 <input type="number" class="form-control" placeholder="fortitude" aria-describedby="character-fortitude" ng-model="combatstats.basesaves.fortitude">
 	</div>

 	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="reflex">Reflex</span>
 	 <input type="number" class="form-control" placeholder="reflex" aria-describedby="character-reflex" ng-model="combatstats.basesaves.reflex">
 	</div>

 	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="will">Will</span>
 	 <input type="number" class="form-control" placeholder="will" aria-describedby="character-will" ng-model="combatstats.basesaves.will">
 	</div>

 	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="damagereduction">Damage Reduction</span>
 	 <input type="number" class="form-control" placeholder="damagereduction" aria-describedby="character-damagereduction" ng-model="combatstats.damagereduction">
 	</div>

 	<div class="character-input input-group input-group-sm col-lg-4 col-md-4 col-sm-4">
	<span class="input-group-addon" id="spellresistance">Spell Resistance</span>
 	 <input type="number" class="form-control" placeholder="spellresistance" aria-describedby="character-spellresistance" ng-model="combatstats.spellresistance">
 	</div>

</div>