<div id="dieroller" class="bg-primary section">

	<div class="row character-input">

		<div class="input-field col s4">
		 <label class="active calculated-value">Roll Type</label>
		 <input disabled type="text" class="form-control blue-grey darken-3" ng-model="rolltype" ng-change="recalculate()">
		</div>

		<div class="input-field col s4">
		 <label class="active calculated-value">Results</label>
		 <input disabled type="text" class="form-control blue-grey darken-3" ng-model="results" ng-change="recalculate()">
		</div>

		<div class="input-field col s4">
		 <label class="active calculated-value">Total</label>
		 <input disabled type="text" class="form-control blue-grey darken-3" ng-model="total" ng-change="recalculate()">
		</div>

	</div>

	<div class="row character-input">

		<div class="input-field col s6">
		 <label class="active">Number of Die</label>
		 <input type="number" class="form-control blue-grey darken-3" ng-model="dienumber" ng-change="recalculate()">
		</div>

		<div class="input-field col s6">
		 <label class="active">Dietype</label>
		 <select class="form-control btn btn-primary dropdown-toggle blue-grey darken-2" ng-model="dietype" ng-change="recalculate(); setRollType('Normal')">
          <option ng-repeat="(key, value) in dietypes" value='{{value}}'><a href="#">{{key}}</a></option>
         </select>
		</div>

	</div>

	<div class="row character-input">

		<div class="input-field col s6">
		 <label class="active">Action Roll</label>
		 <select class="form-control btn btn-primary dropdown-toggle blue-grey darken-2" ng-model="rolltype" ng-change="recalculate(); setSubActions(rolltype)">
      	  <option ng-repeat="(key, value) in actions" value='{{value}}'><a href="#">{{key}}</a></option>
      	 </select>
		</div>

		<div class="input-field col s6">
		 <label class="active">Subactions</label>
		 <select class="form-control btn btn-primary dropdown-toggle blue-grey darken-2" ng-model="rollsubtype" ng-change="recalculate()">
       	  <option ng-repeat="(key, value) in subactions" value='{{key}}'><a href="#">{{value}}</a></option>
      	 </select>
		</div>

	</div>

	<div class="row character-input">

		<div class="input-field col s6">
		 <button class="waves-effect waves-light btn yellow-text accent-1-text blue-grey darken-2 z-depth-1" ng-click="rollDie(dietype, dienumber, rolltype, rollsubtype)">Roll</button>
		</div>

		<div class="input-field col s6">
		 <button class="waves-effect waves-light btn yellow-text accent-1-text blue-grey darken-2 z-depth-1" ng-click="clearResults()">Reset</button>
		</div>

	</div>

</div>