<div id="armorandprotectiveitems" class="bg-primary section">

	<button type="button" class="waves-effect waves-light btn yellow-text accent-1-text blue-grey darken-2 z-depth-1" ng-click="addprotectiveitem()">Add Protective Item</button>

	<div class="row character-input" ng-repeat="item in protectiveitems">

		

		<div class="row character-input">

		 <div class="input-field col s3">
		  <label class="active">Name</label>
	 	  <input type="text" class="form-control" aria-describedby="character-{{item.name}}" ng-model="item.name" ng-change="recalculate()">
	 	 </div>

	 	 <div class="input-field col s3">
		  <label class="active calculated-value">Total AC Bonus</label>
		  <input disabled type="number" class="form-control blue-grey darken-3" ng-model="item.totalbonus" ng-change="recalculate()">
	 	 </div>

	 	 <div class="input-field col s2">
		  <label class="active">AC Bonus</label>
	 	  <input type="number" class="form-control" aria-describedby="character-{{item.name}}-{{item.armorclassbonus}}" ng-model="item.armorclassbonus" ng-change="recalculate()">
	 	 </div>

	 	 <div class="input-field col s1">
		  <label class="active">Max Dex</label>
	 	  <input type="number" class="form-control" aria-describedby="character-{{item.name}}-{{item.maximumdexterity}}" ng-model="item.maximumdexterity" ng-change="recalculate()">
	 	 </div>

	 	 <div class="input-field col s1">
		  <label class="active">Modifier</label>
	 	  <input type="number" class="form-control" aria-describedby="character-{{item.name}}-{{item.modifier}}" ng-model="item.modifier" ng-change="recalculate()">
	 	 </div>
	 	 
		</div>

		<div class="row character-input">

	 	 <div class="input-field col s2">
		  <label class="active calculated-value">Total ACP</label>
		  <input disabled type="number" class="form-control blue-grey darken-3" ng-model="item.totalarmorcheckpenalty" ng-change="recalculate()">
	 	 </div>

	 	 <div class="input-field col s2">
		  <label class="active">Armor Check Penalty</label>
	 	  <input type="number" class="form-control" aria-describedby="character-{{item.name}}-{{item.armorcheckpenalty}}" ng-model="item.armorcheckpenalty" ng-change="recalculate()">
	 	 </div>

	 	 <div class="input-field col s2">
		  <label class="active">Weight</label>
	 	  <input type="number" class="form-control" aria-describedby="character-{{item.name}}-{{item.weight}}" ng-model="item.weight" ng-change="recalculate()">
	 	 </div>

	 	 <div class="input-field col s2">
		  <label class="active">Spell Failure</label>
		  <input type="text" class="form-control" aria-describedby="character-{{item.name}}-{{item.spellfailure}}" ng-model="item.spellfailure" ng-change="recalculate()">
	 	 </div>

	 	 <div class="input-field col s1">
		  <label class="active">Speed</label>
		  <input type="number" class="form-control" aria-describedby="character-{{item.name}}-{{item.speed}}" ng-model="item.speed" ng-change="recalculate()">
	 	 </div>

	 	 <div class="input-field col s2">
		  <label class="active">Masterwork</label>
		  <input type="checkbox" aria-describedby="character-{{item.name}}-{{item.masterwork}}" ng-model="item.masterwork" ng-change="recalculate()" bs-switch/>
	 	 </div>

		</div>

		<div class="row character-input">

		 <div class="input-field col s5">
		  <button type="button" class="waves-effect waves-light btn yellow-text accent-1-text blue-grey darken-2 z-depth-1" ng-click="deleteitem(item)">Delete Protective Item</button>
		 </div>

		 <div class="input-field col s3">
		  <button type="button" class="waves-effect waves-light btn yellow-text accent-1-text blue-grey darken-2 z-depth-1" ng-click="addquality(item)">Add Quality</button>
		 </div>
		 
		</div>

	 	 <div class="row character-input" ng-repeat="quality in item.specialqualities track by $index">

	 	  <div class="input-field col s3">
   		   <button type="button" class="waves-effect waves-light btn yellow-text accent-1-text blue-grey darken-2 z-depth-1" ng-click="deletequality(item, quality)">Delete Quality</button>
	 	  </div>

		  <div class="input-field col s3">
		   <label class="active">Name</label>
	 	   <input type="text" class="form-control" aria-describedby="item-quality-{{quality.name}}" ng-model="quality.name" ng-change="recalculate()">
	 	  </div>

	 	  <div class="input-field col s5">
		   <label class="active">Description</label>
	 	   <textarea type="text" class="form-control" aria-describedby="item-quality-{{quality.name}}-description" ng-model="quality.description" ng-change="recalculate()">
	 	  </div>

	 	 </div>

 	</div>
</div>