<div id="specialabilities" class="bg-primary section">
	<h2>Special Abilities</h2>
	<hr>
	<button type="button" class="btn btn-default" ng-click="addability()">Add Special Ability</button>

	<div class="character-input input-group input-group-sm col-lg-10 col-md-10 col-sm-10" ng-repeat="ability in specialabilities">
	<span class="input-group-addon" id="ability-{{ability.name}}">Ability</span>

	<div class="character-input input-group input-group-sm">
	 <span class="input-group-addon">Name</span>
 	 <input type="text" class="form-control" placeholder="ability-name" aria-describedby="character-{{ability.name}}" ng-model="ability.name" ng-change="recalculate()">
	</div>

	<div class="character-input input-group input-group-sm">
	 <span class="input-group-addon">Description</span>
 	 <input type="text" class="form-control" placeholder="ability-description" aria-describedby="character-{{ability.name}}-description" ng-model="ability.description" ng-change="recalculate()">
 	</div>

 	</div>
</div>