<div id="specialabilities" class="bg-primary section">

	<button type="button" class="waves-effect waves-light btn yellow-text accent-1-text blue-grey darken-2 z-depth-1" ng-click="addability()">Add Special Ability</button>

	<div class="row character-input" ng-repeat="ability in specialabilities">
	 <div class="input-field col s5 l3">
	  <button type="button" class="waves-effect waves-light btn yellow-text accent-1-text blue-grey darken-2 z-depth-1" ng-click="deleteability(ability)">Delete Ability</button>
	 </div>

	 <div class="input-field col s5 l3">
	  <label class="active">Name</label>
 	  <input type="text" class="form-control" aria-describedby="character-{{ability.name}}" ng-model="ability.name" ng-change="recalculate()">
	 </div>

	 <div class="input-field col s8 l5">
	  <label class="active">Description</label>
 	  <textarea type="text" class="form-control" aria-describedby="character-{{ability.name}}-description" ng-model="ability.description" ng-change="recalculate()">
 	 </div>

 	</div>
</div>