<div id="spells" class="bg-primary section">

	<div class="row character-input">

		<div class="input-field col s6 l3">
			<label class="active">Arcane Spell Failure</label>
	 	 	<input type="number" class="form-control" aria-describedby="character-arcanespellfailure" ng-model="spells.arcanespellfailure" ng-change="recalculate()">
	 	</div>

	 	<div class="input-field col s5 l2">
	 		<label class="active">Spell Save</label>
	 	 	<input type="number" class="form-control" aria-describedby="character-spellsave" ng-model="spells.spellsave" ng-change="recalculate()">
	 	</div>

	 	<div class="input-field col s5 l3">
	 	 <label class="active">Relevant Ability</label>
	 	 <select class="form-control btn btn-primary dropdown-toggle blue-grey darken-2" ng-model="spells.relevantability" ng-change="recalculate()">
	      <option ng-repeat="(key, value) in relevantabilities" value='{{value}}'><a href="#">{{key}}</a></option>
	     </select>
	 	</div>

	 	<div class="input-field col s3 l2" ng-repeat="(key, value) in spells.schools">

			<label class="active">{{key}}</label>

			<input type="text" class="form-control" aria-describedby="character-spell-{{value}}" ng-model="spells.schools[key]" ng-change="recalculate()">

		</div>
	</div>


	<div class="row character-input">

		<div class="input-field col s6 l3">

			<h3>Spell Save DC's</h3>

			<div class="input-field col s6 l6" ng-repeat="(key, value) in spells.savedcs">

				<label class="active calculated-value">{{key}}</label>

				<input disabled type="number" class="form-control blue-grey darken-3" value='{{value}}'>

			</div>

		</div>
		<div class="input-field col s6 l3">

			<h3>Base Spells Per Day</h3>

			<div class="input-field col s6 l6" ng-repeat="(key, value) in spells.spellsperday">

				<label class="active calculated-value">{{key}}</label>

				<input type="number" class="form-control" aria-describedby="character-spellsperday-{{key}}" ng-model="spells.spellsperday[key]" ng-change="recalculate()">

			</div>

		</div>

		<div class="input-field col s6 l3">

			<h3>Total Spells Per Day</h3>

			<div class="input-field col s6 l6" ng-repeat="(key, value) in spells.totalspellsperday">

				<label class="active calculated-value">{{key}}</label>

				<input disabled type="number" class="form-control blue-grey darken-3" value='{{value}}'>

			</div>

		</div>

		<div class="input-field col s6 l3">

			<h3>Current Spells Per Day</h3>

			<div class="input-field col s6 l6" ng-repeat="(key, value) in spells.currentspellsperday">

				<label class="active calculated-value">{{key}}</label>

				<input type="number" class="form-control" aria-describedby="character-spellsperday-{{key}}" ng-model="spells.currentspellsperday[key]" ng-change="recalculate()">

			</div>

			<div class="input-field col s7 l3">
				<button type="button" class="waves-effect waves-light btn yellow-text accent-1-text blue-grey darken-2 z-depth-1" ng-click="resetcurrentspells()">Reset Spells</button>
			</div>

		</div>

	</div>

	<div class="row character-input" ng-repeat="(spellLevel, spellList) in spells.level">

		<div class="row character-input">
			<div class="input-field col s3 l3">
			 <button type="button" class="waves-effect waves-light btn yellow-text accent-1-text blue-grey darken-2 z-depth-1" ng-click="addspell(spellLevel)">Add Spell {{spellLevel}}</button>
			</div>
		</div>

		<div class="row character-input" ng-repeat="spell in spellList">

			<div class="input-field col s5 l3">
				<button type="button" class="waves-effect waves-light btn yellow-text accent-1-text blue-grey darken-2 z-depth-1" ng-click="deletespell(spell, spellLevel)">Delete Spell</button>
			</div>

			<div class="input-field col s6 l2">
				<label class="active">Name</label>
	 	 		<input type="text" class="form-control" style="font-size: 12px;" aria-describedby="character-{{spell.name}}" ng-model="spell.name" ng-change="recalculate()">
			</div>

			<div class="input-field col s3 l2">
				<label class="active">Prepared</label>
	 	 		<input type="number" class="form-control" aria-describedby="character-{{spell.prepared}}" ng-model="spell.prepared" ng-change="recalculate()">
			</div>

			<div class="input-field col s8 l4">
				<label class="active">Description</label>
		 	 	<textarea type="text" class="form-control" aria-describedby="character-{{spell.name}}-description" ng-model="spell.description" ng-change="recalculate()">
		 	</div>

		</div>

 	</div>

</div>